* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: hsl(236, 13%, 42%);
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 4rem 7rem 3rem 7rem;
    align-items: end;
}

main {
    padding: 0 1.5rem 5rem 1.5rem;
}

.navbar {
    width: 40%;
}

nav {
    width: 100%;
}

.logo {
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-weight: 400;
}

ul li:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

ul.active {
    display: block;
    position: absolute;
    font-weight: 500;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    background-color: white;
    z-index: 99;
    padding: 8rem 2rem 0 2rem;

}

ul.active li {
    margin-bottom: 2rem;
}

.menu {
    display: none;
}

.open.inactive {
    display: none;
}

.close {
    display: none;
}

.close.active {
    display: block;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 101;
}

.overlay {
    display: none;
}

.overlay.active {
    display: block;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

picture {
    display: block;
}

.top img {
    width: 100%;
}

h1 {
    color: hsl(240, 100%, 5%);
    font-weight: 900;
    font-size: 2.5rem;
}

h1,
p {
    margin-top: 1rem;
}

p {
    line-height: 1.7;
}

h3:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
}

button {
    margin: 1.5rem 0 5rem 0;
    border: none;
    padding: 1rem 2rem;
    letter-spacing: 0.2rem;
    color: #ffff;
    background-color: hsl(5, 85%, 63%);
    font-weight: 700;
}

button:hover {
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}

.right {
    background-color: hsl(240, 100%, 5%);
    color: #ffff;
    padding: 2rem 1rem;
}

h2 {
    margin-bottom: 2rem;
    color: hsl(35, 77%, 62%);
}

h3 {
    margin-bottom: 1rem;
}

.right p {
    color: hsl(233, 8%, 79%);
    opacity: 0.8;
    padding-bottom: 1.5rem;
}

.box {
    border-bottom: 1.5px solid hsla(233, 8%, 79%, 0.457);
    margin-bottom: 2rem;
}

.box:last-child {
    border: none;
    margin-bottom: 0;
}

.top {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 2fr 1fr;
    margin-bottom: 4rem;
}


.row2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 4rem;
    gap: 1rem;
}

.card {
    display: flex;
    gap: 2rem;
    align-items: top;
}

.bottom h2 {
    color: hsl(233, 8%, 79%);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.bottom img {
    object-fit: cover;
}

h4 {
    color: hsl(240, 100%, 5%);
    font-weight: 900;
}

h4:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

@media screen and (max-width:969px) {
    .navbar {
        width: 60%;
    }
}

@media screen and (max-width:769px) {
    .menu {
        display: block;
    }

    ul {
        display: none;
    }

    .navbar {
        width: initial;
    }

    header {
        padding: 2rem 1.5rem;
    }

    .top {
        grid-template-columns: 1fr
    }
}

@media screen and (min-width: 769px) {
    .left {
        padding: 0;
        /* grid-column: 1 / span 2; */
    }

    .right {
        margin: 0;
    }

    .row2 {
        padding-top: 1rem;
    }

    button {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 600px) {

    .top,
    .bottom {
        padding: 0 5rem;
    }

    .top {
        gap: 2rem;
    }
}


@media screen and (min-width: 512px) {
    h1 {
        padding-right: 3rem;
    }
}